/*CSS DOCUMENT*/
 
body {
font-family: 'Barlow Semi Condensed', sans-serif;
margin: 0em;
    width: 100%;
    margin: 1em;


} 

.logo {
padding-top: 3em;
width: 40em;

}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
    
}

.menu a:hover {
color: #a33434;
  
}


 .menu {
  text-align: right;
         background-color: rgb(220,210,190);
     padding: 2em;
   width: 100%;
    
    
}


.menu ul li {

    list-style: none;
    display: inline;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 1em;
   margin: 1em;
 width: 100%;


    
}

.menu ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
  font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100%;
         
}


/*--------------------Index Home Page --------------------*/ 


.hours h3{
color: #a33434;
text-align: center;
font-size: 1.5em;
}

.hours h4 {
 color: rgb(0,0,0);
text-align: center;
font-size: 1em;   
}

div.hours {   
padding: 1em 1em 1em 1em;
}

.introimage {
  height: 500px;
  position: relative;
  overflow: hidden;
     width: 100%;
}

/*-------------------- Menu Page --------------------*/ 

.food {
color: #000; 
align-content: center; 
text-align: center; 
margin: 1em auto 3em;
width: 100%;    
}

.food li {
text-align: left;
align-content: center; 
line-height: 1em;
    font-size:1em;
}


.food h3 {
color: #a33434;
text-align: left;
font-size: 1em;
    align-content: center; 
    margin-top: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.menuimage{
    height: 500px;
  overflow: hidden; 
     width: 100%;
}

.food h2{
    color: #a33434;
text-align: left;
font-size: 1.5em;
    align-content: center; 
    text-transform: uppercase;
    margin-bottom: 1em;
    color: rgb(220,210,190);
    
}

.food h1{
    align-content: center; 
    text-align: center;
    font-size: 2em;
    text-transform:uppercase;
  
}

ul{
    list-style-type: none;
}


/*-------------------- ABOUT --------------------*/ 


.phrase {
color: #a33434;
text-align: center; 
padding-top: 1em;
font-size: 1.5em;
    text-transform: uppercase;
}

.about p {
color: rgb(0,0,0);
text-align: left; 
width: 40em;
padding: 0em 0em 0em 0em; 
margin: 2em auto 1em;
}


.sharing{  
  overflow: hidden;
     width: 100%;
    height:auto;
}

/*--------------------Location Page --------------------*/ 


.location{
color: #a33434;
text-align: center;
padding: 1em 1em 0em 1em;
font-size: 1.2em; 
}

.smallplate{
    height: 500px;
  position:relative;
  overflow: hidden;
    width: 100%;
}

.location h2{
margin: 1em 0em 1em 0em;
    text-transform: uppercase;
    font-size: 1.5em;
}

.location p{
font-size: .75em;
color: rgb(0,0,0);
text-align: center;
}

