/*CSS DOCUMENT*/
body {
   font-family: 'Boreal extralight', sans-serif;
}

img {
    width:70%;
    align-content: center;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.column {
  float: left;
  width: 33%;
  padding: 1px;


} 

.grad{
    
  float: left;
  width: 50%;
  


} 

header {
    width: 100%;
    clear: both;
    max-width:60em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    
    
}

nav ul {
    padding: .25em;
  margin-right: auto;
    margin-left: auto;
    text-align: right;

}

nav ul li {
    list-style: none;
  display: inline;
    margin-left: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: .75em;
    
}

nav ul li a {
    text-decoration: none;  
    color: rgb(0,0,0);

}

.container a:hover{
 color: #FFB256;
    
}

h1{
width: 10em;
align-content: center;

}

.title h1{
     width:100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: bold;
    letter-spacing: 0.2em;
    clear: both;
     color: rgb(0,0,0);
    margin-top: 2em;
    
}

h2 {
    text-align: left;
    text-transform: uppercase;
    text-decoration: bold;
    letter-spacing: 0.2em;
    clear: both;
     color: rgb(255,171,173);
    margin-top: 2em;
    margin: 1em auto ;
     max-width:28em;
    
}

h3 {
    text-transform: uppercase;
    margin: 1em auto;
    letter-spacing: 0.2em;
    text-align:left;
    clear:both;
    color: #FFB256;
   max-width:36em;
margin-top: 1.5em;
    padding-top: 1em;
}

h4 {
    margin-top: 2em;
     font-weight: bold;
    text-decoration: none;
       color: rgb(0,0,0);
    
}

a  {
    text-decoration: none;
     color: rgb(0,0,0);
}

a:hover {
    color: #FFB256;
}
p{
    max-width:36em;
    margin: 1em auto;
    font-family: 'bree light', 'sans serif':;
    letter-spacing: .015em;
    line-height: 170%;
    text-decoration: none;
    
}
.opendaily{
    text-align:center;
}
.contact ul {
    padding: .25em;
  margin-right: auto;
    margin-left: auto;
    text-align: center;

}

 .contact ul li {
    list-style: none;
  display: inline;
    margin-left: 0em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    
}

.contact li{
    margin-right: 2em;
    margin-left: 2em;
}


div.contact {
    max-width:60em;
    margin: auto;
    clear:both;
  
}

div.contact ul li a{
      align-content: center;
    
}

@media only screen and (min-width:30em) {
    div.menu ul li h3 h2{
        width:100%;
    }
}

@media only screen and (min-width:5em) {
    div.header h1 {
        width:2.5em;
    }
    
    div.header nav {
        padding-top:1.5em;
    }
    
    div.menu h3 {
        padding-left: 0.45em 1em 0.45em 2.5em;
    }
}


